.favoritesPage{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 91vh;
    overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.favoritesPage::-webkit-scrollbar {
    display: none;
  }
.favoritePage__title{
    color: white;
    text-align: center;
    font-size: 52px;
    padding: 24px;
}